<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campus Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="map-container" style="position: relative;">
        <img id="campus-map" src="{{ url_for('static', filename='umkc_map.png') }}" alt="Campus Map" style="width: 100%;">
        <!-- Invisible clickable areas -->
        <div id="admincenter" class="clickable-area"></div>
        <div id="africanamericanhistandculturehouse" class="clickable-area"></div>
        <div id="atterburysuccesscenter" class="clickable-area"></div>
        <div id="familydevelopmentcenter" class="clickable-area"></div>
        <div id="blochexecutivehall" class="clickable-area"></div>
        <div id="blochheritagehall" class="clickable-area"></div>
        <div id="brookeside51" class="clickable-area"></div>
        <div id="cherryhall" class="clickable-area"></div>
        <div id="cockefairhall" class="clickable-area"></div>
        <div id="debatehouse" class="clickable-area"></div>
        <div id="psychologybuilding" class="clickable-area"></div>
        <div id="fineartsbuilding" class="clickable-area"></div>
        <div id="flarsheimhall" class="clickable-area"></div>
        <div id="generalservicesbldg" class="clickable-area"></div>
        <div id="granthall" class="clickable-area"></div>
        <div id="haaghall" class="clickable-area"></div>
        <div id="johnsonresidencehall" class="clickable-area"></div>
        <div id="katzhall" class="clickable-area"></div>
        <div id="lawbldg" class="clickable-area"></div>
        <div id="manheimhall" class="clickable-area"></div>
        <div id="millernicholslibrary" class="clickable-area"></div>
        <div id="newcombhall" class="clickable-area"></div>
        <div id="oakresidencehall" class="clickable-area"></div>
        <div id="olsenperformingartscenter" class="clickable-area"></div>
        <div id="plasterfreeenterprise" class="clickable-area"></div>
        <div id="royallhall" class="clickable-area"></div>
        <div id="spencerhall" class="clickable-area"></div>
        <div id="scofieldhall" class="clickable-area"></div>
        <div id="studentunion" class="clickable-area"></div>
        <div id="swinneycenter" class="clickable-area"></div>
        <div id="toysandminiaturesmuseum" class="clickable-area"></div>
        <div id="universityhouse" class="clickable-area"></div>
        <div id="clickable-area" class="clickable-area" style="--x-percent: 0%; --y-percent: 0%;"></div>
        <button id="submitPath">Submit Path</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>